html {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
}

#myName {
    font-size: 40px;
    margin-top: 10px;
    text-shadow: 0px 4px 15px rgba(85, 85, 85, 0.8)
}

h3 {
    color: blueviolet;
    text-overflow: ellipsis;
    text-shadow: grey;
}
.whoAmI {
    background-color: #9198e5;
    padding: 10px;
    border-bottom: 3px purple dotted;
    height: fit-content;
    width: inherit;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#myPhoto {
    width: 200px;
    height: auto;
    border: 5px outset white;
    border-radius: 100px;
    margin: auto;
    margin-top: 20px;
}

#shortIntro {
    width: 400px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}

.importantPoints {
    border-right: double 3px purple;
    border-bottom: double 3px purple;
    float: left;
    padding: 20px;
    height: inherit;
    font: 20px;
    color: darkred;

}

.importantPoints li {
    margin-top: 10px;
}

.detail {
    margin-left: 250px;
}

.detail > div {
    border-bottom: purple solid 3px;
}

.myHistory > div {
    border-top: 2px dotted purple;
    margin-right: 50px;
}